REPORT_URL=https://martin-lopez25.github.io/semaforo_entidades-/
REPORT_SECTION=inventory
WHATSAPP_GRUPO_NOMBRE=¿Cómo van? 🧐
WHATSAPP_NUMERO_ADICIONAL=5215526960022
CRON_SCHEDULE=30 * * * *
TIMEZONE=America/Mexico_City
HEADLESS=true
RUN_ON_START=false
