REPORT_URL=https://martin-lopez25.github.io/semaforo_entidades-/
REPORT_SECTION=inventory
WHATSAPP_GRUPO_NOMBRE=¿Cómo van? 🧐
CRON_SCHEDULE=0 * * * *
TIMEZONE=America/Mexico_City
HEADLESS=true
RUN_ON_START=false
