REPORT_URL=https://martin-lopez25.github.io/semaforo_entidades-/
REPORT_SECTION=inventory
WHATSAPP_GRUPO_NOMBRE=Reporte de Inventario
CRON_SCHEDULE=30 * * * *
AUTO_SHUTDOWN_SCHEDULE=0 22 * * *
TIMEZONE=America/Mexico_City
HEADLESS=true
RUN_ON_START=false
